
<div class="mb-2">
    <button class="btn btn-primary">Botón primario</button>
</div>

<div class="p-3 mb-2 bg-primary text-white">.bg-primary</div>
<div class="p-3 mb-2 bg-primary bg-gradient text-white">.bg-primary con gradiente</div>

<div class="p-3 mb-2 bg-secondary text-white">.bg-secondary</div>
<div class="p-3 mb-2 bg-secondary bg-gradient text-white">.bg-secondary con gradiente</div>

<div class="p-3 mb-2 bg-success text-white">.bg-success</div>
<div class="p-3 mb-2 bg-success bg-gradient text-white">.bg-success con gradiente</div>

<div class="p-3 mb-2 bg-danger text-white">.bg-danger</div>
<div class="p-3 mb-2 bg-danger bg-gradient text-white">.bg-danger con gradiente</div>

<div class="p-3 mb-2 bg-warning text-dark">.bg-warning</div>
<div class="p-3 mb-2 bg-warning bg-gradient text-dark">.bg-warning con gradiente</div>

<div class="p-3 mb-2 bg-info text-dark">.bg-info</div>
<div class="p-3 mb-2 bg-info bg-gradient text-dark">.bg-info con gradiente</div>

<div class="p-3 mb-2 bg-light text-dark">.bg-light</div>
<div class="p-3 mb-2 bg-light bg-gradient text-dark">.bg-light con gradiente</div>

<div class="p-3 mb-2 bg-dark text-white">.bg-dark</div>
<div class="p-3 mb-2 bg-dark bg-gradient text-white">.bg-dark con gradiente</div>

<div class="p-3 mb-2 bg-white text-dark">.bg-white</div>
<div class="p-3 mb-2 bg-white bg-gradient text-dark">.bg-white con gradiente</div>
