@{
    ViewData["Title"] = "Home Page";
}

<p>
    Hola, soy Felipe. Y en este curso vamos a aprender mucho acerca de ASP.NET Core MVC. La idea es que podamos aprender
    haciendo proyectos. Ya que así, veremos conceptos y también los pondremos en práctica.
</p>
