@{
    ViewData["Title"] = "Home Page";
}

<h4>Ejemplo 1: Gutter horizontal</h4>

<div class="row gx-sm-0 gx-md-3 gx-lg-5">
    <div class="col">
        <div class="bg-light border">
            Columna 1
        </div>
    </div>
    <div class="col">
        <div class="bg-light border">
            Columna 2
        </div>
    </div>
</div>

<h4>Ejemplo 2: Gutter Vertical</h4>

<div class="row gx-sm-0 gx-md-3 gx-lg-5 gy-1">
    <div class="col-6">
        <div class="bg-light border">
            Columna 1
        </div>
    </div>
    <div class="col-6">
        <div class="bg-light border">
            Columna 2
        </div>
    </div>

    <div class="col-6">
        <div class="bg-light border">
            Columna 3
        </div>
    </div>
    <div class="col-6">
        <div class="bg-light border">
            Columna 4
        </div>
    </div>
</div>

<h4>Ejemplo 3: Gutter horizontal y vertical</h4>

<div class="row g-3">
    <div class="col-6">
        <div class="bg-light border">
            Columna 1
        </div>
    </div>
    <div class="col-6">
        <div class="bg-light border">
            Columna 2
        </div>
    </div>

    <div class="col-6">
        <div class="bg-light border">
            Columna 3
        </div>
    </div>
    <div class="col-6">
        <div class="bg-light border">
            Columna 4
        </div>
    </div>
</div>

