<button class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#ejemploOffcanvas">
    Abrir offcanvas
</button>

<div class="offcanvas offcanvas-start" tabindex="-1" id="ejemploOffcanvas">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Mi aplicación</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            Un texto de ejemplo
        </div>
    </div>
</div>