@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-striped table-hover table-sm">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Apellido</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Felipe</td>
            <td>Gavilán</td>
        </tr>
        <tr class="table-success">
            <td>2</td>
            <td>Claudia</td>
            <td>Rodríguez</td>
        </tr>
        <tr>
            <td>3</td>
            <td colspan="2">Roberto González</td>
        </tr>
    </tbody>
</table>