@{
    ViewData["Title"] = "Home Page";
}

<h4>Ejemplo 1: Anchura</h4>

<div class="w-25 p-3 bg-primary">Width 25%</div>
<div class="w-50 p-3 bg-secondary">Width 50%</div>
<div class="w-75 p-3 bg-primary">Width 75%</div>
<div class="w-100 p-3 bg-secondary">Width 100%</div>
<div class="w-auto p-3 bg-primary">Width auto</div>

<h4>Ejemplo 2: Altura</h4>

<div style="height: 100px;" class="bg-info">
    <div class="h-25 d-inline-block bg-primary" style="width: 120px;">Height 25%</div>
    <div class="h-50 d-inline-block bg-secondary" style="width: 120px;">Height 50%</div>
    <div class="h-75 d-inline-block bg-primary" style="width: 120px;">Height 75%</div>
    <div class="h-100 d-inline-block bg-secondary" style="width: 120px;">Height 100%</div>
    <div class="h-auto d-inline-block bg-primary" style="width: 120px;">Height auto</div>
</div>

<h4>Ejemplo 3: Toda la pantalla</h4>

<div class="vw-100 bg-success">Width 100vw</div>
<div class="vh-100 bg-secondary">Height 100vh</div>
