@{
    ViewData["Title"] = "Home Page";
}


<h2>Alineando texto</h2>

<p class="text-start">Texto a la izquierda.</p>
<p class="text-center">Texto en el centro.</p>
<p class="text-end">Texto a la  derecha.</p>

<p class="text-sm-center">Texto centralizado en pantallas pequeñas o más grandes.</p>
<p class="text-md-center">Texto centralizado en pantallas medias o más grandes.</p>
<p class="text-lg-center">Texto centralizado en pantallas grandes o más grandes.</p>
<p class="text-xl-center">Texto centralizado en pantallas extra-grandes o más grandes.</p>

<h2>Texto dentro de su contenedor</h2>

<div class="badge bg-primary text-wrap" style="width: 6rem;">
    Este texto no se sale de su contenedor
</div>

<div class="badge bg-primary text-wrap text-break" style="width: 6rem;">
    mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
</div>

<h2>Transformando texto</h2>

<p class="text-lowercase">Minúsculas.</p>
<p class="text-uppercase">Mayúsculas texto.</p>
<p class="text-capitalize">cada palabra con mayúsculas.</p>

<h2>Tamaño de texto</h2>

<p class="fs-1">.fs-1</p>
<p class="fs-2">.fs-2</p>
<p class="fs-3">.fs-3</p>
<p class="fs-4">.fs-4</p>
<p class="fs-5">.fs-5</p>
<p class="fs-6">.fs-6</p>

<h2>Estilo del texto</h2>

<p class="fw-bold">Negrita</p>
<p class="fw-bolder">Más negrita.</p>
<p class="fw-normal">Normal.</p>

<p class="fw-light">Texto ligth.</p>
<p class="fw-lighter">Más light.</p>
<p class="fst-italic">Cursiva.</p>

<p class="text-decoration-underline">Subrayado.</p>
<p class="text-decoration-line-through">Línea a través del texto.</p>

<a href="#" class="">Enlace con decoración</a>
<br />
<a href="#" class="text-decoration-none">Enlace sin decoración</a>
