@model ReporteTransaccionesDetalladas

@{
    ViewData["Title"] = "Reporte Diario";
}

<partial name="_Submenu" Model="SubMenuTransacciones.Diario" />

<div class="mb-3">
    <a asp-action="Crear" class="btn btn-primary">Crear una nueva transacción</a>
</div>

<partial name="_ReporteTransaccionesDetalladas" model="Model" />