@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer localizer;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@localizer["Bienvenido"]</h1>
    <p>@localizer["Aprende más"]</p>
</div>

<div>
    <h3>@ViewBag.Saludo, Felipe</h3>
</div>

<button onclick="mostrarError()">
    Mostrar mensaje de error
</button>

@section Scripts{
    <script src="~/js/utilidades.js"></script>
}