@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<div class="card">
    <div class="card-body">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" asp-for="Recuerdame" />
                <label class="form-check-label" asp-for="Recuerdame"></label>
            </div>

            <button class="btn-primary btn">Login</button>
            <a class="btn btn-success" asp-action="registro">Crear una nueva cuenta</a>
        </form>

    </div>
</div>


@section Scripts {
<partial name="_ValidationScriptsPartial" />
}