<div class="text-center">
    <h1 class="display-4">Soy Felipe Gavilán</h1>

    <h2>Soy un desarrollador full stack especializado en tecnologías .NET y JavaScript.</h2>

    <img id="foto"
         src="~/imagenes/foto.png" alt="Foto de Felipe" />

</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/imagenes/dotnet-imagen-2.png" alt="dotnet logo" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            He estado desarrollando software profesionalmente desde el 2012. He tenido el privilegio de trabajar para una empresa donde tuve la oportunidad de
            realizar proyectos para empresas como Orange, Seguros Universal, Golds Gym, Banco BHD;
            todo esto trabajando principalmente aplicaciones de C#/ASP.NET, SQL Server, Entity Framework, JavaScript, entre otros.
        </p>
    </div>
</div>