
@{
    ViewData["Title"] = "Gracias";
}

<h1>Gracias por ponerte en contacto conmigo</h1>
<p>Te contestaré el mensaje lo más pronto posible.</p>
<div><a asp-action="Index" asp-controller="Home">Volver al home</a></div>