@{
    ViewData["Title"] = "Home Page";
}

<h4>Ejemplo 1: Alineando la fila</h4>

<div class="row align-items-center">
    <div class="col">
        Columna 1
    </div>
    <div class="col">
        Columna 2
    </div>
    <div class="col">
        Columna 3
    </div>
</div>

<div class="row align-items-end">
    <div class="col">
        Columna 1
    </div>
    <div class="col">
        Columna 2
    </div>
    <div class="col">
        Columna 3
    </div>
</div>

<div class="row align-items-start">
    <div class="col">
        Columna 1
    </div>
    <div class="col">
        Columna 2
    </div>
    <div class="col">
        Columna 3
    </div>
</div>

<h4>Ejemplo 2: alineando las columnas horizontalmente</h4>

<div class="row">
    <div class="col align-self-start">
        Columna 1
    </div>

    <div class="col align-self-center">
        Columna 2
    </div>

    <div class="col align-self-end">
        Columna 3
    </div>
</div>

<h4>Ejemplo 3: Offset</h4>

<div class="row">
    <div class="col-3">Columna 1</div>
    <div class="col-4 offset-5">Columna 2</div>
</div>

<h4>Ejemplo 4: Auto Margen</h4>

<div class="row">
    <div class="col-3">Columna 1</div>
    <div class="col-4 ms-auto">Columna 2</div>
</div>

