<h4>Ejemplo 1: Márgenes y padding</h4>

<div>
    Fila 1
</div>

<div class="my-3">
    Fila 2
</div>

<div>
    Fila 3
</div>

<button class="btn btn-primary px-5">Botón 1</button>
<button class="btn btn-secondary ms-5">Botón 2</button>