@{
    ViewData["Title"] = "Home Page";
}

<h4>Ejemplo 1: Imagenes en columnas</h4>

<div class="row gy-3">
    <div class="col-sm-3">
        <img class="img-fluid" src="https://embamex.sre.gob.mx/republicadominicana/images/stories/mapa%20rep%20dom%202.jpg" />
    </div>
    <div class="col-sm-3">
        <img class="img-fluid" src="https://embamex.sre.gob.mx/republicadominicana/images/stories/mapa%20rep%20dom%202.jpg" />
    </div>
    <div class="col-sm-3">
        <img class="img-fluid" src="https://embamex.sre.gob.mx/republicadominicana/images/stories/mapa%20rep%20dom%202.jpg" />
    </div>
    <div class="col-sm-3">
        <img class="img-fluid" src="https://embamex.sre.gob.mx/republicadominicana/images/stories/mapa%20rep%20dom%202.jpg" />
    </div>
</div>

<h4>Ejemplo 2: Imagen tipo thumbnail</h4>

<img class="img-thumbnail rounded-circle"
     src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Sylvester_Stallone_2015.JPG/220px-Sylvester_Stallone_2015.JPG" />