@{
    ViewData["Title"] = "Home Page";
}

<ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab1">
            Tab 1
        </button>
    </li>

    <li class="nav-item">
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab2">
            Tab 2
        </button>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade show active" id="tab1">
        Buenos días
    </div>

    <div class="tab-pane fade" id="tab2">
        Adiós
    </div>
</div>