@model OlvideMiPasswordViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "¿Olvidaste tu contraseña?";
}

<h1>Recupera tu cuenta</h1>

<div class="card">
    <div class="card-body">
        <p class="fw-bold">@ViewBag.Mensaje</p>

        <form asp-action="OlvideMiPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <a class="btn btn-secondary" asp-action="login">Cancelar</a>
            <button class="btn-primary btn">Recuperar</button>
        </form>
    </div>
</div>